div#sudoku_page {
  position: relative;
}

div#sudoku_page table#sudoku{
  border-color: #000;
  border-spacing: 0em;
  border-width: 0em;
  border-collapse: collapse;
  width: 39em;
  height: 39em;
  background: #fff;
  color: #000;
}
div#sudoku_page #dummy{
  background: #fff;
  width: 100%;
  height: 620px;
}
div#sudoku_page a{
	outline: none;
}
div#sudoku_page td.border-bottom-solid{
  border-bottom: solid 1px;
}
div#sudoku_page td.border-right-solid{
  border-right: solid 1px;
}
div#sudoku_page #infos a{
  font-size: 1.1em;
  color: #e7370e;
  font-weight: bold;
}
div.ajax-progress{
}

div#sudoku_page input.input-field{
  background-color: inherit; 
  border: 0em none ; 
  margin: 0em; 
  padding: 0em; 
  width: 100%; 
  height: 100%; 
  text-align: center; 
  font-family: Verdana,sans-serif; 
  font-size: 1.4em; 
  color: rgb(231, 55, 14); 
  font-weight: normal;
}

div#sudoku_page td{
  width: 3em ! important;
  height: 3em ! important;
  padding: 0em;
  text-align: center;
}
div#sudoku_page .td1{
  border-right: solid 2px; 
  border-bottom: solid 2px;
  border-top: solid 1px; 
  border-left: solid 1px; 
  text-align: center;
}
div#sudoku_page .td2{
  border-right: solid 2px;
  border-top: solid 1px; 
  border-left: solid 1px;
}
div#sudoku_page .td3{
  border-bottom: solid 2px; 
  border-top: solid 1px; 
  border-left: solid 1px;
}
div#sudoku_page .td4{
  border-top: solid 1px; 
  border-left: solid 1px;
}
div#sudoku_page .field{
  font-size: 1.4em;
  color: #000;
  width: 2.1em;
  text-align: center;
}
div#sudoku_page #infos
{
  width: 100%;
  padding: 0;
  margin: 10px 0;
  float: left;
  /*height: 300px;*/
	/*float: left;*/
}
div#sudoku_page #infos ul, div#sudoku_page #infos p
{
  margin: 10px 6px;
  float: left;
}
div#sudoku_page #infos div.action
{
  width: 100%;
  text-align: right;
}
div#sudoku_page #infos div.action form
{
  padding-right: 25px;
  float: right
}
div#sudoku_page #difficultyform label {
  width: 100%;
  text-align: center;
}
div#sudoku_page div#infos div.action div.new_link_wrapper
{
  padding: 0;
  padding-right: .35em;
  margin: 0;
  position: relative;
}
div#sudoku_page div#infos div.action div.new_link_wrapper a
{
  padding: 0;
  margin: 3px;
  display: inline-block;
  position: relative;
  right: 22px;
}
div#sudoku_page div#infos div.action div.new_link_wrapper div.ajax-progress-throbber
{
  /*width: 120%;*/
  padding: 0;
  margin: 0;
  position: absolute;
  right: 7px;
  top: 4px;
  padding-right: 7px;
}
div#sudoku_page div#infos div.action div.new_link_wrapper div.ajax-progress-throbber .throbber {
  padding-right: 7px;
}
div#sudoku_page #infos p.error
{
  font-size: 10px;
}

div#sudoku_page .initial_hidden
{
	display: none;
}
a#toggle_manual
{
  display: block;
  padding: 20px 0;
}
#sudoku_page #infos{
  background: #fff;
  padding: 10px;
  margin: 10px 10px 10px 0;
  color: #000;
  position: relative;
}
#sudoku_page #infos a.use-ajax{
  height: 34px;
  display: inline-block; 
}
td.selected{
  background: #9BB418;
}
div#sudoku_page td input.vanished{
  width: 0.00001px;
  height: 0.00001px;
  font-size: 0.000001px;
}
div#sudoku_page div#input-modal {
  position: absolute;
  top: 30%;
  left:15%;
  padding: 20px;
  background: #fff;
  border: 1px solid #000;
  display: none;
}
div#sudoku_page div#input-modal ul {
  padding: 0;
}
div#sudoku_page div#input-modal ul li {
  display: inline;
  font: 22px Arial, sans-serif;
  padding: 0 5px;
  cursor: pointer;
}
div#sudoku_page #input-modal span.close-modal {
  cursor: pointer;
} 