<div id="sudoku_page">
  <div class="sudoku-content">
    <div id="game">
      <div id="dummy">
        <p>Sudoku in real time</p>
      </div>
    </div>
    <div id="infos">
      <ul>
        <li>{{'Open fields'|t }}: <span id="of">0</span></li>
        <li>{{ 'Solved fields'|t }}: <span id="gf">0</span></li>
        <li>{{ 'Time'|t }}: <span id="time">00</span></li>
        <li>{{ 'Errors'|t }}: <span id="error">0</span></li>
      </ul>
      <p class="error">{{ error_text }}</p>
      <div class="action">
        <p class="new-link"> {{ new_link|raw }}</p>
        {{ select }}
      </div>
    </div>
    <div class="manual">
      <a href="#" id="toggle_manual">{{ 'show manual'|t }}</a>
      <div class="initial_hidden">
        <h2>{{ 'Manual'|t }}</h2>
        <p class="manual">{{ manual_text }}</p>
        <p class="waiting">{{ waiting_text }}</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="input-modal">
    <span class="close-modal">close</span>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
    </ul>
  </div>
</div>